  
.button3
{
    -fx-background-color : #131022;
}
.button3:hover
{
    -fx-background-color : #7769A6 ;
}
.button3:pressed
{
    -fx-background-color : #42406D ;
}

/*.combo-box
{
    -fx-background-color : #141124;
    -fx-border-color:  #515658;
    -fx-border-radius: 30;
}
.combo-box:hover
{
    -fx-background-color : #141124;
    -fx-border-color:  #FFFF;
    -fx-border-radius: 30;
}
.combo-box:pressed
{
    -fx-background-color : #141124;
    -fx-border-color:  #FFFF;
    -fx-border-radius: 30;
}*/
